body {
	background-color: aliceblue;
}

label {
	padding-block: 0.5em;
	display: block;
	width: fit-content;
	cursor: pointer;
	user-select: none;
}

textarea {
	display: block;
}

button {
	margin-top: 1em;
}