/**
	Written by Tristie
*/

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.bunny.net/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-normal.woff2) format('woff2'), url(https://fonts.bunny.net/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-normal.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--color-background: #120f15;
	--color-text: #f3f2f1;
	--color-primary: #6edd97;
	--animation-speed: 200ms;
}

* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	color: var(--color-text);

	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: larger;
	line-height: 1.5em;
	background: var(--color-background) !important;
	overflow-x: hidden;
	max-width: none !important;
	scrollbar-width: thin;

	/*
		The before and after psuedo elements are used to make the starry background using
		noise from an svg filter. Getting this right was kinda just trial and error.
	*/
	@media screen and (prefers-contrast: no-preference) {
		&::before {
			content: '';
			position: fixed;
			inset: 0;
			z-index: -999;
			background: radial-gradient(var(--color-text), transparent 1px);
			background-size: 40px 40px;
			filter: url(#noiseFilter);
			mask: radial-gradient(rgba(0, 0, 0, 0.412) 50%, transparent);
			scale: 2;
		}

		&::after {
			content: '';
			position: fixed;
			inset: 0;
			z-index: -999;
			background: radial-gradient(var(--color-text), transparent 2px);
			background-size: 40px 40px;
			filter: url(#noiseFilter);
			mask: radial-gradient(rgba(0, 0, 0, 0.901) 50%, transparent);
			rotate: 45deg;
		}
	}

	br {
		display: none;
	}
}

h1 {
	position: fixed;
	height: 100dvh;
	width: 100%;
	z-index: 1;
	display: grid;
	place-items: center;
	z-index: -1;

	@media screen and (prefers-reduced-motion: no-preference) {
		transition: opacity 500ms, scale 500ms, transform 1s;
	}

	@media (width < 600px) {
		position: relative;
		height: auto;
		padding-block: 1em;
	}

	span {
		display: none;
	}

	img {
		display: block !important;
		width: max(20dvw, 200px);
		user-select: text;
	}
}

nav {
	display: contents;

	h2 {
		display: none;
	}

	ul {
		position: relative;
		height: 100dvh;
		display: grid;
		place-items: center;
		list-style: none;
		padding: 0;
		grid-template-columns: 1fr 1fr;

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: opacity 100ms;
		}

		@media (width < 600px) {
			display: flex;
			gap: 1em;
			flex-direction: column;
			padding-bottom: 2em;
			height: auto;
		}

		li {
			display: contents;
		}
	}

	.planet {
		display: grid;
		color: white;
		place-items: center;
		width: 150px;
		height: 150px;
		--scale: 1;
		--rotation: 90deg;

		@media screen and (prefers-reduced-motion: no-preference) {
			img:hover~svg {
				animation: spin 10s linear infinite;
			}
		}

		img,
		svg {
			/* I love using this layering trick */
			grid-area: 1/1/1/1;
		}

		span {
			display: none;
		}

		img {
			display: block !important;
			cursor: pointer;
			user-select: none;

			scale: var(--scale);
			width: 100px;
			height: 100px;

			@media screen and (prefers-reduced-motion: no-preference) {
				transition: scale var(--animation-speed) ease-in-out;
			}

			&:hover {
				scale: calc(var(--scale) - .1);
			}

		}

		svg {
			display: block !important;
			pointer-events: none;
			overflow: visible;
			rotate: var(--rotation, 0deg);
		}

		&.about {
			--rotation: 30deg;
			--scale: 1.75;

			img {
				translate: 0 10px;
			}
		}

		&.exercises {
			--rotation: 30deg;
		}

		&.me {
			--rotation: -30deg;
		}

		&.us {
			--rotation: 0deg;
		}
	}
}

body:has(:target) {
	&>nav>ul {
		flex-direction: row;
		display: flex;
		position: fixed;
		height: auto;
		justify-content: space-between;
		max-width: 1000px;
		font-size: small;
		font-weight: bolder;
		place-self: safe center;
		background-color: hsl(from var(--color-primary) h s l / 0.5);
		padding: .3em .4em;
		z-index: 1;
		width: 100%;
		bottom: 0;
		gap: 0;

		@media screen and (width > 600px) {
			top: 5dvh;
			bottom: unset;
			border-radius: 2em;
			width: calc(100% - 2em);
			right: 1em;
			left: 1em;
			gap: 1em;
			font-size: medium;

			span {
				padding-inline: 1em;
				width: 100%;
			}

			a {
				flex-grow: 1;
				border-radius: 1.5em;

				@media screen and (prefers-reduced-motion: no-preference) {
					transition: color var(--animation-speed), background-color var(--animation-speed);
				}

				&:hover {
					color: var(--color-background);
					background-color: var(--color-primary);
				}
			}
		}

		a {
			flex-shrink: 0;
			height: 3rem;
			text-decoration: none;
			place-content: center;
			width: fit-content;

			&:hover {
				text-decoration: underline;
			}
		}

		img,
		svg {
			display: none !important;
		}

		span {
			display: inline-flex;
		}
	}

	&>h1 {
		opacity: 0;
		scale: 4;
		transform: rotate3d(-1, 0, 0, 90deg) translate(0, 100%);
	}

	&>main>.back {
		display: flex !important;
	}
}

:not(body:has(:target))>nav>ul {
	@media screen and (prefers-reduced-motion: no-preference) {
		transition: opacity var(--animation-speed);
	}
}

main {
	position: fixed;
	top: 0;
	display: grid;
	width: 100%;
	height: 90dvh;
	overflow-y: auto;
	place-content: safe center;
	pointer-events: none;
	padding-block: 1em;

	&:has(:target) {
		pointer-events: all;
	}

	article:not(:has(:target)) {
		@media screen and (prefers-reduced-motion: no-preference) {
			animation: vis 300ms forwards;
		}

		@media screen and (prefers-reduced-motion: reduce) {
			visibility: hidden;
		}
	}

	article {
		display: flex;
		max-width: 700px;
		max-height: 100dvh;
		height: auto;
		padding-inline: 1em;
		flex-direction: column;
		gap: 1em;

		opacity: 0;
		pointer-events: none;
		interpolate-size: allow-keywords;
		height: 0px;

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: opacity calc(var(--animation-speed) * 1.5), height calc(var(--animation-speed) * 1.5);
		}
	}

	article:has(:target) {
		opacity: 100;
		pointer-events: all;
		height: auto;
	}

	article a:not(.back) {
		color: var(--color-primary);
		text-decoration-color: hsl(from var(--color-primary) h s calc(l + 15));

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: color var(--animation-speed), text-decoration-color var(--animation-speed);
		}

		&:hover,
		&:focus-visible {
			color: hsl(from var(--color-primary) h s calc(l + 15));
			text-decoration-color: hsl(from var(--color-primary) h s calc(l + 50));
		}
	}

	.back {
		padding-inline: 1em;
		padding-top: 1.5em;

		a,
		a:visited {
			padding: 0.4em 1em;
			border-radius: 0.5em;
			background-color: var(--color-primary);
			border: 3px solid hsl(from var(--color-background) h s l);
			color: var(--color-background);
			font-weight: bold;
			text-decoration: none;
			user-select: none;

			@media screen and (prefers-reduced-motion: no-preference) {
				transition: background-color 100ms;
			}

			&:hover {
				background-color: hsl(from var(--color-primary) h s calc(l + 10));
			}
		}
	}
}

@keyframes spin {
	from {
		rotate: var(--rotation, 0);
	}

	to {
		rotate: calc(var(--rotation, 0) + 1turn);
	}
}

@keyframes fade {
	from {
		opacity: 100;
	}

	to {
		opacity: 0;
	}
}

@keyframes vis {
	from {
		visibility: visible;
	}

	to {
		visibility: hidden;
	}
}