* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(17, 17, 17);
	color: rgb(204, 201, 201);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
	background-color: #0d391f;
	padding: 1rem 2rem;

	display: flex;
	gap: 1em;

	ul, li {
		display: contents;
	}

	a {
		color: rgb(174, 201, 168);
	}
}

main {
	max-width: 50rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;

	ul {
		display: flex;
		flex-direction: column;
		gap: 1em;

		b {
			padding-right: 0.5ch;
		}
	}
}